/* CSS Styling file to Ass1 in Coursera*/
/*** Desktop view ***/
*{
box-sizing: border-box;
}
#row{
	width : 100%;
}
@media(min-width: 992px)
{
	.col-dt-1,.col-dt-2,.col-dt-3
	{
	float:left;
	border: 2px hidden black;
	}
	.col-dt-1{
	width: 100%;
	}
	.col-dt-2{
	width : 50%;
	}
	.col-dt-3{
	width: 33.33%;
	}
}
@media(min-width:768px) and (max-width : 991px)
{
	.col-tb-1,.col-tb-2,.col-tb-3
	{
	float:left;
	border: 2px hidden black;
	}
	.col-tb-1{
	width: 100%;
	}
	.col-tb-2{
	width : 50%;
	}
	.col-tb-3{
	width: 33.33%;
	}
}
@media(max-width: 767px)
{
	.col-mob-1,.col-mob-2,.col-mob-3
	{
	
	float:left;
	border: 2px hidden black;
	}
	.col-mob-1{
	width: 100%;
	}
	.col-mob-2{
	width : 50%;
	}
	.col-mob-3{
	width: 33.33%;
	}
}
#para{
	margin:10px;
	border : 2px solid black;
	background-color: grey;
	color: Black;
	font-style: italic; 
	font-size: 75%;
	position:relative;
}

#content{
font-style : inherit;
font-size:20px;
margin : 10px;
font-weight:bold;

}
#Box_name1{
position : relative;
left:65%;
border: 2px solid black;
color: black;
width:35%;
height: 50px;
font-style: normal;
text-align: center;
font-weight : bold;
background-color:#ff9999;
padding : 0px;
margin: 0px;
}
#Box_name2{
position : relative;
left:65%;
border: 2px solid black;
color: white;
width:35%;
height : 50px;
text-align:center;
font-weight : bold;
font-style : normal;
background-color:#990000;
padding : 0px;
margin: 0px;

}
#Box_name3{
position : relative;
left:65%;
border: 2px solid black;
color: black;
width:35%;
height: 50px;
font-style: normal;
text-align:center;
font-weight: bold;
background-color:#ffff99 ;
padding : 0px;
margin: 0px;

}
#text_at_center {
	text-align: center;
}
